.container
  .row
    .col-lg-8.col-lg-offset-2
      %h1.text-center Thanks for planting this seed!

      %p.lead.text-center Lots of great things just happened! You're not done though. Please follow the instructions below to get this project off to a good start!

      %canvas#drawarea{ width: 800, height: 600 }
